doctype html
html(lang="es")
	head
		title Sabates
		meta(charset="utf-8")
			<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
			<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
			<script src="semantic/dist/semantic.min.js"></script>
			link(href="bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet")
	body
		block contenido