doctype html
html(lang="es")
	head
		title Sabates
		meta(charset="utf-8")
		link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.css" type="text/css")
		script(type='text/javascript' src='/jquery/dist/jquery.js')
		script(type='text/javascript' src='/popper/dist/popper.js')
		script(type='text/javascript' src='./bootstrap/dist/js/bootstrap.css')
	body
		block contenido