.page-sidebar
  // START X-NAVIGATION
  ul.x-navigation
    li.xn-logo
      a(href='#')
        strong SABATES
      a.x-navigation-control(href='#')
    li.xn-title
    li
    li.xn-profile
      a.profile-mini(href='#')
        img(src='img/logo.png', alt='John Doe')
      .profile
        .profile-image
          img(src='img/logo.png', alt='John Doe')
        .profile-data
          .profile-data-name
            strong SABATES
          .profile-data-title
            strong ADMINISTRADOR
    li.xn-openable
      a(href='#')
        span.fa.fa-table
        span.xn-text
          strong Tablas Referenciales
      ul
        li.xn-openable
          a(href='#')
            span.fa.fa-file
            strong Plan de Cuenta de Ingresos
          ul
            li
              a(href='lista_cuenta.php')
                strong Cuenta
            li
              a(href='lista_ramo.php')
                strong Ramo Partida
            li
              a(href='lista_subramo.php')
                strong Sub-Ramo Genérica
            li
              a(href='lista_especifica.php')
                strong Específica
            li
              a(href='lista_subespecifica.php')
                strong Sub-Específica
        li.xn-openable
          a(href='#')
            span.fa.fa-users
            strong Banco
          ul
            li
              a(href='#')
                strong Banco
            li
              a(href='#')
                strong Cuenta Banco
        li
          a(href='#')
            strong Tipo de Acto
        li
          a(href='#')
            strong Unidad Tributaria
    li
      a(href='#')
        span.fa.fa-bar-chart-o
        span.xn-text
          strong Venta
    li
      a(href='#')
        span.fa.fa-file-text-o
        span.xn-text
          strong Reportes
    li
      a(href='#')
        span.fa.fa-user
        span.xn-text
          strong Usuario
  // END X-NAVIGATION
