<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
	<title>Sabates- Administrador</title>
  <link rel="stylesheet" type="text/css" href="../public/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/plugin/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/dashboard.css">
</head>
<body>

	<!-- Navegador-->
  <header class="header sticky-top"> 
    
        <nav class="navbar navbar-expand-lg navbar-dark">
<a class="navbar-brand col-sm-3 col-md-3 mr-0 titulo" href="https://getbootstrap.com/docs/4.0/examples/dashboard/#">Sabates</a>
     <div class="contenedorAu" style="    margin-left: auto;"> <ul class="navbar-nav px-3">
        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
                              José Ruiz                           
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">                          <a href="#" class="dropdown-item">
                                    <i class="fa fa-user" aria-hidden="true"></i> Perfil                  
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fa fa-lock" aria-hidden="true"></i> Cambiar contraseña       
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#"
                                    onclick="event.preventDefault();
                                                document.getElementById('logout-form').submit();" class="dropdown-item">
                                    <i class="fa fa-power-off" aria-hidden="true"></i> Cerrar sesión
                                </a>

                                <form id="logout-form" action="#" method="POST" style="display: none;">
                                </form>
                            </div>
                        </li>
      </ul></div>
        </nav>
  
  </header>
    
    <div class="container-fluid">

      <div class="row">
        <nav class="col-md-3 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="xn-profile">
                    <div class="profile">
                            <div class="profile-image">
                                <img src="../public/img/logo.png" alt="John Doe"/>
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name"><strong>SABATES</strong></div>
                                <div class="profile-data-title"><strong>ADMINISTRADOR</strong></div>
                            </div>
                    </div>                                                                        
                </li>
              <li class="nav-item">
                <a class="nav-link" href="administrador.html">
                  <i class="fa fa-fw fa-home"></i>
                  Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <i class="fa fa-fw fa-money"></i>
                  Reporte de Ingresos<span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="actos.html">
                  <i class="fa fa-fw fa-copy"></i>
                  Actos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/dashboard/#">
                  <i class="fa fa-fw fa-th-list	"></i>
                  Gacetas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/dashboard/#">
                  <i class="fa fa-fw fa-ticket"></i>
                  Venta
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Mantenimiento</span>
              <a class="d-flex align-items-center text-muted" href="#">
                  <i class="fa fa-fw fa-cogs"></i>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">

              <li class="nav-item">
                <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/dashboard/#">
                  <i class="fa fa-fw fa-user"></i>
                  Usuarios
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/dashboard/#">
                  <i class="fa fa-fw fa-bank"></i>
                  Cuentas Bancarias
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://getbootstrap.com/docs/4.0/examples/dashboard/#">
                  <i class="fa fa-fw fa-users"></i>
                  Contribuyentes
                </a>
              </li>
          </div>
        </nav>
	    <main role="main" class="col-md-9 ml-sm-auto col-lg-9 pt-3 px-4">
        <ol class="breadcrumb">
            </ul>
          <li class="breadcrumb-item"><a href="administrador.html">Inicio</a></li>
          <li class="breadcrumb-item active">Reportes de Ingresos</li>
        </ol>
                
    <div class="page-content-wrap">
                
                    <div class="row">
                    
                        <div class="col-md-12">
                            
                            <!-- START DATATABLE EXPORT -->
                            <div class="panel panel-default">

                                <div class="panel-heading">
                                    <h3 class="panel-title">Ventas Registradas</h3>
                                    <div class="navbar dropdown pull-right"">
                                        <button class="btn btn-danger dropdown-toggle" id="dropdownDescargar" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true"><i class="fa fa-bars"></i> Descargar Ventas</button>

                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownDescargar"> 
                                          <a class="dropdown-item" id="pdf" href="#" onClick ="$('#customers2').tableExport({type:'pdf',escape:'false'});"><img src='../public/img/pdf.png' width="24"/> PDF</a>
                                        </div>
                                    </div>   
                                </div>
                                <div class="panel-body appViu"  id="app">
                                    <div id="demo">               
                                      <form class="form-inline form-search-perso" id="search" > 
                                          <div class="form-group ">
                                              <input type="text" class="form-control"  placeholder="Buscador" name="query" v-model="searchQuery">
                                              <div class=""> <i class="fa fa-search fa-aux-search" aria-hidden="true"></i></div>
                                            </div> 
                                        </form>
                                        <demo-grid
                                          :data="gridData"
                                          :columns="gridColumns"
                                          :filter-key="searchQuery">
                                        </demo-grid>
                                      </div>
                                </div>
                                
                            </div>
                            <!-- END DATATABLE EXPORT -->                            
                        </div>
                    </div>                    
                              
              </div>
              <div class="row">
              <div class="col-12 col-lg-6">
               <canvas class="my-4 chartjs-render-monitor" id="myChart1"></canvas></div>
              <div class="col-12 col-lg-6">
                 <canvas class="my-4 chartjs-render-monitor" id="myChart2"></canvas>
              </div>
            </div>
      </main>
       </div>
    </div>
    <script type="text/x-template" id="grid-template">
      <div>
        
          <table id="customers2" class="table datatable table-hover">
            <thead class="thead-gris">
              <tr>
                <th v-for="key in columns"
                  @click="sortBy(key)"
                  :class="{ active: sortKey == key }">
                  {{ key | capitalize }}
                  <i class="fa distancia" :class="sortOrders[key] > 0 ? 'fa-sort-asc' : 'fa-sort-desc'" aria-hidden="true"></i>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="entry in filteredData">
                <td v-for="key in columns">
                  <div v-if="key === 'unidades'">
                  {{entry[key]}} U.T
                  </div>
                  <div v-if="key === 'costo'">
                  {{entry[key]}} Bs
                  </div>
                  <div v-if="key != 'costo' && key != 'unidades'">
                  {{entry[key]}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination text-center">
                <li>
                    <a href="#" aria-label="Previous" v-show="pag != 1" @click.prevent="pag -= 1">
                        <span aria-hidden="true">Anterior</span>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Next" v-show="pag * NUM_RESULTS / data.length < 1" @click.prevent="pag += 1">
                        <span aria-hidden="true">Siguiente</span>
                    </a>
                </li>
            </ul>
        </nav>
      </div>
        </script>
    <script src="../public/plugin/jquery-3.2.1.slim.min.js"></script>
    <script src="../public/plugin/bootstrap.min.js"></script>
    <script src="../public/plugin/Chart.min.js"></script>
    <script src="../public/plugin/feather.min.js"></script>
    <script src="../public/plugin/vue/dist/vue.min.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>-->
         <script type="text/javascript">

           Vue.component('demo-grid', {
              template: '#grid-template',
              props: {
                NUM_RESULTS: Number, // Numero de resultados por página
                pag: Number,
                data: Array,
                columns: Array,
                filterKey: String
              },
              data: function () {
                var sortOrders = {}
                this.columns.forEach(function (key) {
                  sortOrders[key] = 1
                })
                return {
                  sortKey: '',
                  sortOrders: sortOrders
                }
              },
              computed: {
                filteredData: function () {
                  var sortKey = this.sortKey
                  var filterKey = this.filterKey && this.filterKey.toLowerCase()
                  var order = this.sortOrders[sortKey] || 1
                  var data = this.data
                  if (filterKey) {
                    data = data.filter(function (row) {
                      return Object.keys(row).some(function (key) {
                        return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                      })
                    })
                  }
                  if (sortKey) {
                    data = data.slice().sort(function (a, b) {
                      a = a[sortKey]
                      b = b[sortKey]
                      return (a === b ? 0 : a > b ? 1 : -1) * order
                    })
                  }
                  return data
                }
              },
              filters: {
                capitalize: function (str) {
                  return str.charAt(0).toUpperCase() + str.slice(1)
                }
              },
              methods: {
                sortBy: function (key) {
                  this.sortKey = key
                  this.sortOrders[key] = this.sortOrders[key] * -1
                }
              }
            })

            // bootstrap the demo
            var app = new Vue({
              el: '#app',
              data: { 
                NUM_RESULTS: 7, // Numero de resultados por página
                pag: 1, // Página inicial
                searchQuery: '',
                gridColumns: ['contribuyente', 'acto','unidades','fecha','costo'],
                gridData: [
                    { contribuyente: "Tiger Nixon", acto: 'System Architect', unidades: 12, fecha: "2011/04/25", costo: 320.800},
                    { contribuyente: "Garrett Winters", acto: 'Baccountant', unidades: 8, fecha: "2011/07/25", costo: 170.750},
                    { contribuyente: "Nixon Winters", acto: 'Tuntant', unidades: 7, fecha: "2011/07/25", costo: 70.500},
                    { contribuyente: "Airi Satou", acto: 'Accountant', unidades: 18, fecha: "2008/11/28", costo: 162.700},
                    { contribuyente: "Tiger Nixon", acto: 'System Architect', unidades: 12, fecha: "2011/04/25", costo: 320.800},
                  /*  { contribuyente: "Garrett Winters", acto: 'Baccountant', unidades: 8, fecha: "2011/07/25", costo: 170.750},
                    { contribuyente: "Nixon Winters", acto: 'Tuntant', unidades: 7, fecha: "2011/07/25", costo: 70.500},
                    { contribuyente: "Airi Satou", acto: 'Accountant', unidades: 18, fecha: "2008/11/28", costo: 162.700},
                    { contribuyente: "Tiger Nixon", acto: 'System Architect', unidades: 12, fecha: "2011/04/25", costo: 320.800},
                    { contribuyente: "Garrett Winters", acto: 'Baccountant', unidades: 8, fecha: "2011/07/25", costo: 170.750},
                    { contribuyente: "Nixon Winters", acto: 'Tuntant', unidades: 7, fecha: "2011/07/25", costo: 70.500},
                    { contribuyente: "Airi Satou", acto: 'Accountant', unidades: 18, fecha: "2008/11/28", costo: 162.700},
                    { contribuyente: "Tiger Nixon", acto: 'System Architect', unidades: 12, fecha: "2011/04/25", costo: 320.800},
                    { contribuyente: "Garrett Winters", acto: 'Baccountant', unidades: 8, fecha: "2011/07/25", costo: 170.750},
                    { contribuyente: "Nixon Winters", acto: 'Tuntant', unidades: 7, fecha: "2011/07/25", costo: 70.500},
                    { contribuyente: "Airi Satou", acto: 'Accountant', unidades: 18, fecha: "2008/11/28", costo: 162.700}*/
                ]
              }
            });



            //CHARTJ
            var ctx = document.getElementById("myChart1");
            var myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                  data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                  lineTension: 0,
                  backgroundColor: 'transparent',
                  borderColor: '#007bff',
                  borderWidth: 4,
                  pointBackgroundColor: '#007bff'
                }]
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: false
                    }
                  }]
                },
                legend: {
                  display: false,
                }
              }
            });

            ctx = document.getElementById("myChart2");
           myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                  data: [451, 422, 145, 244, 741, 99, 150],
                  lineTension: 0,
                  backgroundColor: 'transparent',
                  borderColor: '#007bff',
                  borderWidth: 4,
                  pointBackgroundColor: '#007bff'
                }]
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: false
                    }
                  }]
                },
                legend: {
                  display: false,
                }
              }
            });
         </script>

     <script>
            $(document).ready(function()
        {
            $('#pdf').on('click', function(){
                var doc = new jsPDF()
                doc.text('Hello world!', 10, 10)
                doc.save('a4.pdf')
            //doc.save=('prueba.pdf'); console.log("hola");
            });
        });
            //vue
            
        </script>
        

</body>
</html>


